<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".RoyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="DiscouragedApi,LockedOrientationActivity">
        <receiver
            android:name=".widget.ShortCommandWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/short_command_widget_info" />
        </receiver>

        <!-- Khai báo AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3612191981543807~8639804669" /> <!-- Sample AdMob App ID -->

        <activity
            android:name=".act.MainAct"
            android:exported="true"
            android:label="MAINACTIVITY"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.SplashAct"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.ElementInfoAct"
            android:exported="true"
            android:label="ELEMENTINFOACTIVITY"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.SettingsAct"
            android:exported="true"
            android:label="SETTINGS"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.setting.FavoritePageAct"
            android:exported="true"
            android:label="FAVORITEPAGE"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.setting.OrderAct"
            android:exported="true"
            android:label="ORDERPAGE"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.table.IonAct"
            android:exported="true"
            android:label="IONPAGE"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setting.ExperimentalAct"
            android:exported="true"
            android:label="EXPERIMENTAL_PAGE"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.SolubilityAct"
            android:exported="true"
            android:label="SOLUBILITYPAGE"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.CalculatorAct"
            android:exported="true"
            android:label="CALCULATORPAGE"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.table.DictionaryAct"
            android:exported="true"
            android:label="DICTIONARYPAGE"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.IsotopesActExperimental"
            android:exported="true"
            android:label="ISOTPOESPAGEEXP"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.setting.AboutAct"
            android:exported="true"
            android:label="ABOUTPAGE"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.TableAct"
            android:exported="true"
            android:label="TABLEPAGE"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.table.ElectrodeAct"
            android:exported="true"
            android:label="ELECTRODEPAGE"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.setting.SubmitAct"
            android:exported="true"
            android:label="SUBMITPAGE"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.setting.LicensesAct"
            android:exported="true"
            android:label="LICENSESPAGE"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.table.EquationsAct"
            android:exported="true"
            android:label="EQUATIONSACTIVITY"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.table.PHAct"
            android:exported="true"
            android:label="PHACTIVITY"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.setting.UnitAct"
            android:exported="true"
            android:label="activity_unit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.table.NuclideAct"
            android:exported="true"
            android:label="activity_nuclide"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
    </application>

</manifest>
